@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Black';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

#analysis-board {
  position: relative;
  width: 1000px;
  height: 600px;
  border: 2px solid #0044ff;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  box-shadow: 5px 5px 5px 5px rgb(230, 228, 228);
  text-align: center;
  padding: 0 30px;
}

#title {
  font-family: 'Pretendard-Black';
  font-size: 2rem;
  margin-top: 40px;
  border-bottom: 1px solid #0044ff;
  padding-bottom: 40px;
}

#analysis-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avg-progress,
.min-progress,
.max-progress:not(text) {
  transform: rotate(-90deg);
  margin: 20px;
}

.frame,
.avg-bar,
.min-bar,
.max-bar {
  fill: none;
}

.frame {
  stroke: #e6e6e6;
}

.avg-bar,
.min-bar,
.max-bar {
  stroke: #0044ff;
}

.avg-value,
.min-value,
.max-value {
  font-family: 'Pretendard-Black';
  fill: #0044ff;
  font-size: 16px;
  text-anchor: middle;
  transform: rotate(90deg);
}
