@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Black';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

body {
  font-family: Pretendard;
}


#timeChecker {
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: white;
}

#timeChecker h1 {

  color: #326789;
  margin-left: 80px;
  font-family: Pretendard;
  font-size: 45px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 2px;
  text-align: center;
}

#stopwatchIcon {
  position: absolute;
  top: 30px;
  right: 176px;
}

#stopwatchIcon img{
  width: 65px;
  height: 65px;
}

#timer {
  width: 140px;
  height: 140px;
  margin-right: 40px;

}

#container {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
}

#currentSet {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 709px;
  position: relative;
}

#previousSet {
  height: 709px;
  margin-left: 30px;
}

.content {
  background-color: #E9EEF4;
  border-radius: 20px;
  width: 890px;
  padding: 30px 0 0 60px;
}

#accuracy,
#feedback {
  height: 340px;
  position: absolute;
  /* margin-bottom: 20px; */
}

#accuracy {
  top: 0px;
}

#feedback {
  bottom: 0px;
}

.content span {
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 30px;
}

#accuracyContent,
#feedbackContent {
  width: 780px;
  height: 260px;
  margin-left: 20px;
}

#accuracyContent {
  display: flex;
  align-items: center;
  margin: 30px 0px;
}

.accItem {
  width: 260px;
  height: 260px;
  font-size: 23px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accItem img {
  width: 137px;
  height: 137px;
  margin-top: 10px;
}

#feedbackContent {
  padding: 20px;
  margin-top: 10px;
}

#feedbackContent span {
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 5px;
  text-align: left;
  display: block;
  margin: 0 0 25px 0;
}

#setsAccuracyGraph {
  width: 770px;
  height: 550px;
  padding: 150px 20px ;
}

.highlight {
  color: #E65C4F;
}

#btnContainer {
  display: flex;
  justify-content: flex-end;
  padding: 50px 20px;
}

#btnContainer button {
  width: 140px;
  height: 54px;
  margin-right: 40px;
  padding: 5px 10px;
  background-color: #326789;
  color: #E9EEF4;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 3px;
  text-align: center;
  border: none;
}

#analysis-board {
  position: relative;
  width: 1000px;
  height: 600px;
  border: 2px solid #0044ff;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  box-shadow: 5px 5px 5px 5px rgb(230, 228, 228);
  text-align: center;
  padding: 0 30px
}

#title {
  font-family: 'Pretendard-Black';
  font-size: 2rem;
  margin-top: 40px;
  border-bottom: 1px solid #0044ff;
  padding-bottom: 40px;
}

#analysis-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avg-progress,
.min-progress,
.max-progress:not(text) {
  transform: rotate(-90deg);
  margin: 20px;
}

.frame,
.avg-bar,
.min-bar,
.max-bar {
  fill: none;
}

.frame {
  stroke: #e6e6e6;
}

.avg-bar,
.min-bar,
.max-bar {
  stroke: #0044ff;
}

.avg-value,
.min-value,
.max-value {
  font-family: 'Pretendard-Black';
  fill: #0044ff;
  font-size: 16px;
  text-anchor: middle;
  transform: rotate(90deg);
}