#analysis-board {
  position: relative;
  width: 1000px;
  height: 600px;
  border: 2px solid #0044ff;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  box-shadow: 5px 5px 5px 5px rgb(230, 228, 228);
}

#analysis-wrap {
  position: absolute;
  /* width: 120px;
  height: 120px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-progress-wrap {
  /* width: 120px;
  height: 120px; */
}
.avg-progress,
.min-progress,
.max-progress:not(text) {
  transform: rotate(-90deg);
}
.frame,
.avg-bar,
.min-bar,
.max-bar {
  fill: none;
}
.frame {
  stroke: #e6e6e6;
}
.avg-bar,
.min-bar,
.max-bar {
  stroke: #0044ff;
}
.avg-value,
.min-value,
.max-value {
  font-weight: bold;
  fill: #0044ff;
  font-size: 16px;
  text-anchor: middle;
  transform: rotate(90deg);
  /* white-space: pre-line; */
}
