#cam-canvas {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

#reps {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 2.0rem;
    font-weight: bold;
}
