@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css');

body {
  font-family: Pretendard;
}

#tab-bar {
  height: 80px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  box-shadow: 0px 4px 10px 0px #7c8da526;
  z-index: 1;
}

#tab-bar h1 {
  color: #326789;
  margin-left: 165px;
  font-size: 30px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 0.2px;
  text-align: center;
}

#tab-items {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.tab-item {
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.2px;
  text-align: left;
}

.tab-item:hover {
  background-color: #e9eef4;
  color: #326789;
}

#tab-bar button {
  margin-right: 100px;
  padding: 10px 15px;
  background-color: #326789;
  color: #e9eef4;
  font-weight: 700;
  font-size: 20px;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-align: center;
  border: none;
}

#main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro {
  width: 100%;
  /* height: 1020px; */
  height: 0dp;
  background-color: #e9eef4;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
  margin-top: 50px;
}

#intro-text {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#intro-text span {
  font-size: 28px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0.25em;
  text-align: center;
}

.highlight {
  color: #e65c4f;
}

#intro img {
  width: 38vw;
  margin: 50px 0;
}

#title {
  width: 100%;
  height: 443px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  color: #326789;
}

#title img {
  width: 100px;
  height: 100px;
  margin: 50px;
}

#title span {
  font-size: 25px;
  font-weight: 600;
  line-height: 10px;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 10px 0;
}

#title h1 {
  margin: 50px 0 50px 0;
  font-size: 50px;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 10px;
  text-align: center;
}

#service {
  width: 1500px;
  height: 1000px;
  padding: 30px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
}

.service-content {
  width: 705px;
  height: 455px;
  margin: 15px;
  padding: 30px;
  background-color: #e9eef4;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.service-title span {
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 5px;
  text-align: left;
}

.service-explain span {
  position: absolute;
  top: 110px;
  left: 30px;
  color: #6f7a89;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
}

.service-footer span {
  position: absolute;
  bottom: 40px;
  left: 30px;
  color: #6f7a89;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.content-img {
  box-shadow: 4px 4px 4px 2px #00000033;
  position: absolute;
  border-radius: 5px;
}

#content1-img {
  width: 370px;
  height: 220px;
  bottom: 42px;
  right: 38px;
}

#service div:nth-child(2) img {
  width: 400px;
  height: 225px;
}

#content2-img1 {
  bottom: 102px;
  right: -93px;
}

#content2-img2 {
  bottom: 42px;
  right: 38px;
}

#service div:nth-child(3) img {
  width: 345px;
  height: 195px;
}

#content3-img1 {
  bottom: 102px;
  right: -41px;
}

#content3-img2 {
  bottom: 42px;
  right: 38px;
}

#content4-img {
  width: 295px;
  height: 237px;
  bottom: 42px;
  right: 36px;
}

footer {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #e9eef4;
  padding: 30px 300px 10px 300px;
  position: relative;
  margin-top: 100px;
}

#team-name {
  margin-top: 30px;
  margin-bottom: auto;
  font-size: 30px;
  color: #326789;
  font-size: 30px;
  font-weight: 800;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: center;
}

#git-link {
  align-self: flex-end;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  margin: 50px 0;
}

#git-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#copyright {
  text-align: center;
  bottom: 30px;
  margin: 0 auto;
  font-size: 15px;
}
